.app {
    text-align: center;
}

.app-content {
    width: 300px;
    margin: 20px auto;
    padding: 15px 0;
    border-radius: 3px;
    background-color: #F5F5F5;
    border: 1px solid #EEEEEE;
}

.app-header {
    font-family: "Open Sans", sans-serif;
}
